---
import {Col,Table } from "stormlit/components";
import data from '../test.yaml';
---

<pre>
    <Col path="id" name="Employee ID" />
    <Col path="username" name="Name"  />
    <Col name="email" />
</pre>

<Table id="employee-data" data={data.users}>
    <Col path="id" name="Employee ID" />
    <Col path="username" name="Name"  />
    <Col name="email" />
</Table>