---
import Grid from '../../../packages/stormlit/components/Grid.astro';
import yaml from '../test.yaml'
---

<Grid rowData={yaml.users}>
SELECT *  FROM users
</Grid>

<p>
    {JSON.stringify(yaml)}
</p>